

<div style=height:15em;display:flex>
  <img style=height:15em;float:left src="https://storage.googleapis.com/xrcanada/45975892981_51ebc9f5c2.jpg">
  <h1 style=text-align:center;padding-top:3em;color:rgb(59,56,71);width:-webkit-fill-available>MEDIA</h1>
  <img style=height:15em;float:right src="https://storage.googleapis.com/xrcanada/45975892981_51ebc9f5c2.jpg">

</div>

<div style=text-align:center>
  <br><br>
  <h2 style=color:rgb(59,56,71)>VIDEOS</h2>
  <br><br>
  <iframe width="320" height="245" src="https://www.youtube.com/embed/b2VkC4SnwY0"></iframe>
  <iframe width="320" height="245" src="https://www.youtube.com/embed/jAH3IQwHKag"></iframe>
  <iframe width="320" height="245" src="https://www.youtube.com/embed/tS3kNkq64d8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
  
<div style=text-align:center>
  <br><br>
  <h2 style=color:rgb(59,56,71)>{{'MEDIA_TO_USE'|translate}}</h2>
  <br><br>
  <img width=300 style=margin-right:2em src="https://storage.googleapis.com/xrcanada/xr1.png">
  <img width=300 src="https://storage.googleapis.com/xrcanada/xr3.png"><br>
  <img width=300 style=margin-right:2em src="https://storage.googleapis.com/xrcanada/xr4.png">
  <img width=300 src="https://storage.googleapis.com/xrcanada/xr5.png"><br>
  <img width=300 src="https://storage.googleapis.com/xrcanada/xr6.png">
</div>