.graffiti {
  background-image: url("https://extinctionrebellion.ca/xr_pics/banner2.jpg");
  background-size: 100%, 100%;
  -webkit-text-stroke: 3px black;
}

/* .graffiti {
  background-image: url("https://extinctionrebellion.ca/xr_pics/ban_1.jpeg");
  background-size: cover;
  -webkit-text-stroke: 3px black;
} */