

<div class=graffiti style=height:15em>
  <h1 style=text-align:center;padding-top:0.5em;margin-top:0;color:white;font-size:90px>{{'MEDIA'|translate}}</h1>
</div>

<div style=text-align:center;margin-right:15%;margin-left:15%>
  <br><br>
  <h2 style=color:rgb(59,56,71)>VIDEOS</h2>
  <br><br>
  <iframe style=margin-right:1em width="320" height="245" src="https://www.youtube.com/embed/b2VkC4SnwY0"></iframe>
  <iframe style=margin-right:1em width="320" height="245" src="https://www.youtube.com/embed/jAH3IQwHKag"></iframe>
  <iframe width="320" height="245" src="https://www.youtube.com/embed/tS3kNkq64d8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe style=margin-right:1em width="320" height="245" src="https://www.youtube.com/embed/EAmmUIEsN9A"></iframe>
  
</div>
  
<div style=text-align:center;margin-right:15%;margin-left:15%>
  <br><br>
  <h2 style=color:rgb(59,56,71)>{{'MEDIA_TO_USE'|translate}}</h2>
  <br>
  <p>
    {{'PRINT_POSTER'|translate}} 
  </p>
  <br>
  <img width=300 style=margin-right:2em src="https://extinctionrebellion.ca/xr_pics/xr1.png">
  <img width=300 style=margin-right:2em src="https://extinctionrebellion.ca/xr_pics/xr3.png">
  <img width=300 style=margin-right:2em src="https://extinctionrebellion.ca/xr_pics/xr4.png">
  <img width=300 style=margin-right:2em src="https://extinctionrebellion.ca/xr_pics/xr5.png">
  <img width=300 style=margin-right:2em src="https://extinctionrebellion.ca/xr_pics/xr6.png">
</div>