<div style=text-align:center>
  <h1 style=font-size:72px>{{'PROVINCES_TITLE'|translate}}</h1>
  <h4>{{'PROVINCES_ACTIVE'|translate}}</h4><br><br>
  <button mat-button style=background:#3aaa37;color:white;margin:1em (click)="route('qc')" >{{'QUEBEC'|translate}}</button>
  <button mat-button style=background:#3aaa37;color:white;margin:1em (click)="route('pei')">{{'PEI'|translate}}</button>
  <button mat-button style=background:#3aaa37;color:white;margin:1em (click)="route('ns')">{{'NOVA_SCOTIA'|translate}}</button>
  <button mat-button style=background:#3aaa37;color:white;margin:1em (click)="route('on')">{{'ONTARIO'|translate}}</button>
  <button mat-button style=background:#3aaa37;color:white;margin:1em (click)="route('ab')">{{'ALBERTA'|translate}}</button>
  <button mat-button style=background:#3aaa37;color:white;margin:1em (click)="route('bc')">{{'BC'|translate}}</button>
  <br><br><br><br><br><br><br>
</div>
