$black:     #111;

$darkergray:  #111;
$darkgray:    #444;
$gray:        #666;
$lightgray:   #aaa;

$green__dark:  #007626;
$green:        #3aaa37;
$green__light: #4ac447;

/* $yellow: #ffbe6b; */

$yellow:              #ffd76e;
$yellow__transparent: #ffd76e88;
$darkyellow:          #C29728;


$text-muted: #888;
