@import "./_variables.scss";


.title {
  background-color: black;
}
.title h1 {
  color: white;
  margin: 0;
  font-size: 4em;
  padding: 1em 0;
  text-align: center;
}


.section {
  max-width: 800px;
  margin: 0 auto;
  padding: 72px 0;
}
.section--paddingSmall {
  padding: 24px 0;
}
.section--noPadding {
  padding: 0;
}
.section > *:first-child {
  margin-top: 0;
}
