<div class=skulls style=height:15em>
  <h1 style=color:#3aaa37;text-align:center;margin:0;padding-top:0.5em;font-size:120px>XR CANADA</h1>
</div>
  
  
<br><br><br>
<h1 style=text-align:center> {{'MAIN_TITLE'|translate}}
</h1>

<h4 style=margin-right:15%;margin-left:15%;line-height:1.5em;font-size:larger;color:rgb(59,56,71)>
    {{'MAIN_1'|translate}}
    {{'MAIN_2'|translate}}
</h4>

<br><br>
<h1 style=margin-right:15%;margin-left:15%;text-align:center;color:#3aaa37;font-size:48px>
  {{'MAIN_3'|translate}}
</h1>

<br><br>

<div style=margin-right:15%;margin-left:15%;text-align:center>
  <h2 style=margin-right:15%;margin-left:15%;line-height:1.5em;font-size:larger;color:rgb(59,56,71)>
    {{'MAIN_4'|translate}}
  </h2>
  <br><br><br>
  <a style="font-size:40px;font-weight:bold;color:rgb(255, 217, 0);margin-right:3em;" href="https://actionnetwork.org/forms/join-the-rebellion-3/?fbclid=IwAR0RbLD_oqYazl874FLCqcHvXlSDCUS7AmCHWbs4iSkVTljSShmFbmHluRE">{{'JOIN_EMAIL'|translate}}</a>
  <!-- <a style="font-size:30px;font-weight:bold;color:rgb(255, 217, 0);margin-right:3em;" href="https://actionnetwork.org/forms/page-dacceuil-a-xr-qc?source=direct_link">{{'JOIN_EMAIL'|translate}}</a> -->
  <a style="font-size:30px;font-weight:bold;color:rgb(255, 196, 0)" href="https://xrblog.org/2018/12/02/extinction-rebellion-worldwide-map/">{{'FIND_LOCAL'|translate}}</a>
</div>
<br><br><br>

