.skulls {
  background-image: url("https://storage.googleapis.com/xrcanada/xr_skulls.png");
  background-repeat: repeat;
  -webkit-text-stroke: 3px black;
}

/* .skulls {
  background-image: url("https://storage.googleapis.com/xrcanada/ban_2.jpeg");
  background-size: cover;
  -webkit-text-stroke: 3px black;
} */

