
<div class="title">
  <h1 class="text-center">Data Privacy Policy</h1>
</div>

<div class="section">

  <p>Last updated: July 24, 2019</p>

  <h3>1. Principles</h3>
  <ol type="a" class="dataPrivacy__terms">
      <li>This policy applies to all personal data processed by XR Canada.</li>
      <li>We respect your privacy. We won’t use your email and name other than sending you news letter or other details about our activities.</li>
      <li>We won’t share your personal data e.g. email, Contact Number with any third party which is not related with XR.</li>
      <li>Our emails will always include a link for opting out anytime. As soon as you opt-out we will remove your email from our list.</li>
      <li>XR Canada shall ensure that personal data are adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed. </li>
      <li>XR Canada shall take reasonable steps to ensure personal data is accurate. </li>
      <li>Where necessary for the lawful basis on which data is processed, steps shall be put in place to ensure that personal data is kept up to date. </li>
      <li>XR Canada shall ensure that personal data is stored securely using modern software that is kept-up-to-date.  </li>
      <li>Access to personal data shall be limited to personnel who need access and appropriate security should be in place to avoid unauthorised sharing of information. </li>
      <li>When personal data is deleted this should be done safely such that the data is irrecoverable. </li>
      <li>Appropriate back-up and disaster recovery solutions shall be in place. </li>
  </ol>

  <h3>2. Breach</h3>
  <p>In the event of a breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorised disclosure of, or access to, personal data, XR Canada shall promptly assess the risk to people’s rights and freedoms and if appropriate report this breach to the ICO (more information on the ICO website). </p>

  END OF POLICY

</div>
