<!--The content below is only a placeholder and can be replaced.-->
<div class="header__lang">
  <div class="header__lang__content">
    <button mat-button (click)="translate('en')">en</button>
    <strong>|</strong>
    <button mat-button (click)="translate('fr')">fr</button>
  </div>
</div>

<div class="header__bar">

  <img class="header__bar__logo" src="https://storage.googleapis.com/xrcanada/xr-logo-white">

  <div class="header__bar__links">
    <button mat-button class="header__bar__link" [class.header__bar__link--active]="activeRoute === '/'"           (click)="route('/')">{{'HOME'|translate}}</button>
    <button mat-button class="header__bar__link" [class.header__bar__link--active]="activeRoute === '/demands'"    (click)="route('/demands')">{{'DEMANDS'|translate}}</button>
    <button mat-button class="header__bar__link" [class.header__bar__link--active]="activeRoute === '/principles'" (click)="route('/principles')">{{'PRINCIPLES'|translate}}</button>
    <button mat-button class="header__bar__link" [class.header__bar__link--active]="activeRoute === '/who'"        (click)="route('/who')">{{'WHO'|translate}}</button>
    <button mat-button class="header__bar__link" [class.header__bar__link--active]="activeRoute === '/media'"      (click)="route('/media')">Media</button>
    <button mat-button class="header__bar__link" [class.header__bar__link--active]="activeRoute === '/provinces'"  (click)="route('/provinces')">{{'PROVINCES'|translate}}</button>
    <button mat-button class="header__bar__link" [class.header__bar__link--active]="activeRoute === '/join'"       (click)="route('/join')">{{'JOIN'|translate}}</button>
  </div>

</div>
<div class="header__fill"></div>


<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer__content">
    <div class="footer__content__main">
      <div class="footer__links">
        <a href="https://extinctionrebellion.ca">
          <i class="fa fa-arrow-circle-right"></i> {{ 'MAIN_SITE' | translate }}
        </a>
      </div>
      <div class="footer__social">
        <a class="footer__social__link" href="https://www.facebook.com/ExtinctionRebellionCanada/">
          <i class="footer__icon footer__icon--facebook fa fa-facebook"></i> Facebook
        </a>
        <a class="footer__social__link" href="https://twitter.com/xrebelcanada">
          <i class="footer__icon footer__icon--twitter fa fa-twitter"></i> Twitter
        </a>
        <a class="footer__social__link" href="https://www.youtube.com/channel/UCYThdLKE6TDwBJh-qDC6ICA">
          <i class="footer__icon footer__icon--youtube fa fa-youtube"></i> Youtube
        </a>
        <a class="footer__social__link" href="https://www.instagram.com/extinctionrebellioncanada">
          <i class="footer__icon footer__icon--instagram fa fa-instagram"></i> Instagram
        </a>
      </div>
    </div>
    <div class="footer__content__copyright">
      © Extinction Rebellion Canada, 2019
    </div>
  </div>
</footer>

