<!--The content below is only a placeholder and can be replaced.-->
<div style=background:#3aaa37;height:2em>
  <div style=float:right;margin-right:4em>
    <button mat-button style=background:#3aaa37;min-width:1em;color:white (click)="translate('en')">en</button>
    <strong>|</strong>
    <button mat-button style=background:#3aaa37;min-width:1em;color:white (click)="translate('fr')">fr</button>
  </div>
</div>
<div style="background:#3aaa37;height:4em;position:sticky;top:0">
    <img width="200" style=margin-left:12em (click)="route('m')" src="http://extinctionrebellioncanada.com/images/ER-linear-WHITE.png">
  <div style=float:right;>
    <button mat-button style=background:white;margin:1em (click)="route('w')">{{'WHO'|translate}}</button>
    <button mat-button style=background:white;margin:1em (click)="route('d')">{{'DEMANDS'|translate}}</button>
    <button mat-button style=background:white;margin:1em (click)="route('p')">{{'PRINCIPLES'|translate}}</button>
    <button mat-button style=background:white;margin:1em (click)="route('a')">Media</button>

    <a mat-button style=background:white;margin:1em href="https://actionnetwork.org/forms/join-the-rebellion-3/?fbclid=IwAR0RbLD_oqYazl874FLCqcHvXlSDCUS7AmCHWbs4iSkVTljSShmFbmHluRE">{{'JOIN'|translate}}</a>
    
  </div>  
  
</div>
<div style=background:#3aaa37;height:2em></div>


<router-outlet></router-outlet>



