@import "../styles/_variables.scss";

/*
 * Header
 */

.header {
}

.header__lang {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: $green;
  height: 2em
}
.header__lang__content {
  float: right;
  margin-right: 4em
}
.header__lang__content button {
  color: white;
  min-width: 4em;
}

.header__bar {
  position: sticky;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 100%;
  padding: 0 8em;
  background: $green;
}
.header__bar__logo {
  width: 200px;
  margin-right: 2em;
}
.header__bar__fill {
  flex: 1;
}
.header__bar__link {
  background-color: white;
  padding: 0;
  margin: 0 1.5em 0 0;
  min-width: 6em;
}
.header__bar__link--active {
  color: white;
  background-color: black;
}

.header__fill {
  background: $green;
  height: 2em
}



/*
 * Footer
 */

.footer {
  color: #ddd;
  background-color: black;
  padding: 3em 0;
}

.footer a {
  color: #bbb;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .25s;
}

.footer a:hover {
  color: #eee;
}

.footer__content {
  font-size: 18px;
  width: 600px;
  margin: auto;
}

.footer__content__main {
  display: flex;
  flex-direction: row;
}

.footer__content__copyright {
  opacity: 0.8;
  font-size: 16px;
  padding: 1em 0;
}

.footer__links {
  flex: 2;
  line-height: 30px;
  font-weight: 600;
}

.footer__social {
  flex: 1;
}

.footer__social__link {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.footer__icon {
  padding: 7px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin-right: 1em;
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 18px;
}

.footer__icon:hover {
  opacity: .7;
}

.footer__icon--facebook {
  background: #3b5998;
  color: #fff;
}

.footer__icon--twitter {
  background: #55acee;
  color: #fff;
}

.footer__icon--youtube {
  background: #b00;
  color: #fff;
}

.footer__icon--instagram {
  background: #125688;
  color: #fff;
}

.footer__icon--pinterest {
  background: #cb2027;
  color: #fff;
}
