

<div class="demands__title">
  <h1 class="text-center">{{'DEMANDS_TITLE_2'|translate}}</h1>
</div>

<div class="section">

  <ol class="numbered-list">
    <li>
      <h3>{{'DEMANDS_1_TITLE'|translate}}</h3>
      <div class="text-large">{{'DEMANDS_1_DESCRIPTION'|translate}}</div>
    </li>
    <li>
      <h3>{{'DEMANDS_2_TITLE'|translate}}</h3>
      <div class="text-large">{{'DEMANDS_2_DESCRIPTION'|translate}}</div>
    </li>
    <li>
      <h3>{{'DEMANDS_3_TITLE'|translate}}</h3>
      <div class="text-large">{{'DEMANDS_3_DESCRIPTION'|translate}}</div>
    </li>
  </ol>


  <br><br>

  <h2 class="text-center">{{'MORE_DETAILS'|translate}}</h2>

  <ol class="numbered-list">
    <li>{{'DETAILS_1'|translate}}</li>
    <li>{{'DETAILS_2'|translate}} </li>
    <li>{{'DETAILS_3'|translate}}</li>
  </ol>

</div>
