<div class="section">
    <h1 class="text-center">XR QUEBEC</h1>

    <h2>SE REBELLER POUR <span class="text-green">LA VIE</span></h2>

    <p>Nous faisons face à une urgence mondiale sans précédent. Les gouvernements ont échoué à nous protéger malgré les solutions connues et préconisées. Il est donc de notre devoir d'agir au plus vite.</p>

    <!-- <h2>NOUS EXIGEONS :</h2>
    <ol class="numbered-list">
        <li>La reconnaissance de la gravité et de l’urgence des crises écologiques actuelles et une communication honnête sur le sujet.</li>
        <li>La réduction immédiate des émissions de gaz à effet de serre pour atteindre la neutralité carbone en 2025, grâce à une réduction de la consommation et une descente énergétique planifiée. </li>
        <li>L’arrêt immédiat de la destruction des écosystèmes océaniques et terrestres, à l’origine d’une extinction massive du monde vivant.</li>
        <li>La création d’une assemblée citoyenne chargée de décider des mesures à mettre en place pour atteindre ces objectifs et garante d’une transition juste et équitable. </li>
    </ol> -->

    <h2>S'ENGAGER</h2>
    <p>
        Vous avez envie de rejoindre notre équipe d’organisation et faire avancer les choses ? <br>
        Participer à organiser une action, former un groupe local sont autant de manières de s’engager pour lesquelles le temps et la variété de talents dont vous disposez sont appréciés.<br><br>
    </p>

    <div class="text-center">
        <a class="h2" href="https://actionnetwork.org/forms/page-dacceuil-a-xr-qc?source=direct_link" target="_blank">
            Rejoignez nous
        </a>
        <span>(ou contactez nous à <a href="mailto:outreach.xrqc@protonmail.com">outreach.xrqc@protonmail.com</a>)</span>
    </div>


    <br>

    <h2>Prenez l'initiative</h2>

    <p>
        Créez un groupe local de confiance et inventez vos propres actions. Vous n'avez pas besoin de demander permission tant que vous êtes en accord avec nos principes et nos valeurs : <br> <a href="https://rebellion.earth/who-we-are/" target="_blank">https://rebellion.earth/who-we-are/</a>
    </p>

    <!-- <p>
        Imprimez une affiche. Ces fichiers sont disponibles en copyleft, merci d'indiquer la source «Extinction rébellion Québec» le cas échéant:
    </p>

    <ul>
        <li><a href="https://extinctionrebellionmontreal.com/files/Extractivisme-print.pdf">Affiche 1 (L'extractivisme est un nihilisme)</a></li>
        <li><a href="https://extinctionrebellionmontreal.com/files/Caterpillar-print.pdf">Affiche 2 (Les prochains c'est nous)</a></li>
        <li><a href="https://extinctionrebellioncanada.com/files/Greta-Print-2.pdf"> Affiche 3 (Greta)</a></li>
    </ul> -->

    <p>
        Avec amour et rage,
    </p>
    <p>
        Extinction Rébellion Québec
    </p>


    <!-- <h2>Vidéos</h2>
    <ul>
        <li> <a href="https://www.youtube.com/watch?v=b2VkC4SnwY0&amp;t=2250s">Heading for extinction and what to do about it</a> </li>
        <li> <a href="https://www.youtube.com/watch?v=EAmmUIEsN9A">School strike for climate - save the world by changing the rules | Greta Thunberg | TEDxStockholm</a> </li>
        <li> <a href="https://www.youtube.com/watch?v=jAH3IQwHKag">Life inside Extinction Rebellion: 'We can't get arrested quick enough'</a></li>
        <li> <a href="https://www.youtube.com/watch?v=q6I7wuLDkyA">Mouvement "Extinction Rebellion" : la désobéissance civile s'organise à Londres</a></li>
        <li> <a href="https://www.ted.com/talks/chad_frischmann_100_solutions_to_climate_change">Ted Talk : 100 solutions au réchauffement climatique</a></li>
    </ul> -->

    <h2>Presse</h2>
    <p>
        <a href="mailto:presse.xrqc@protonmail.com">Contactez-nous</a>
    </p>

    <h2>Ressources</h2>
    <ul>
        <li> <a href="https://www.facebook.com/Extinction.Rebellion.QC/"> Facebook</a> </li>
        <li> <a href="https://twitter.com/XR_Quebec">Twitter</a> </li>
        <li> <a href="https://www.instagram.com/extinctionrebellion/"> Instagram</a> </li>
    </ul>
</div>
