<div class=protest style=height:15em>
    <h1 style=text-align:center;padding-top:2em;margin-top:0;color:rgb(59,56,71);font-size:48px>
    <strong style=background:white>{{'PRINCIPLES_TITLE'|translate}}</strong>
  </h1>
</div>

<div style=text-align:center;margin-left:15%;margin-right:15%;color:rgb(59,56,71)>
  <br><br>

  <h2>{{'PRINCIPLE_1'|translate}}</h2>
  {{'PRINCIPLE_1_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_2'|translate}}</h2>
  {{'PRINCIPLE_2_TEXT'|translate}}
  <br><br><br><br>


  <h2>  {{'PRINCIPLE_3'|translate}}</h2>
  {{'PRINCIPLE_3_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_4'|translate}}</h2>
  {{'PRINCIPLE_4_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_5'|translate}}</h2>
  {{'PRINCIPLE_5_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_6'|translate}}</h2>
  {{'PRINCIPLE_6_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_7'|translate}}</h2>
  {{'PRINCIPLE_7_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_8'|translate}}</h2>
  {{'PRINCIPLE_8_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_9'|translate}}</h2>
  {{'PRINCIPLE_9_TEXT'|translate}}
  <br><br><br><br>

  <h2>{{'PRINCIPLE_10'|translate}}</h2>
  {{'PRINCIPLE_10_TEXT'|translate}}
  <br><br><br><br>

  <h2>{{'PRINCIPLE_REMARKS'|translate}}</h2>
  {{'PRINCIPLE_REMARKS_TEXT'|translate}}
  <br><br><br><br>

  {{'PRINCIPLE_REMARKS_TEXT_2'|translate}}
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_3'|translate}}
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_4'|translate}}
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_5'|translate}}
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_6'|translate}}
  <br><br>
</div>