<div class=protest style=height:15em>
  <div style=padding-top:4em;>
    <h1 style=margin-left:auto;margin-right:auto;border:6px;border-radius:25px;border-style:solid;border-color:green;background:white;margin-top:0;width:fit-content;text-align:center>
      <strong style=font-size:60px;color:purple;margin-right:1em;margin-left:1em>{{'PRINCIPLES_TITLE'|translate}}</strong>
    </h1>
  </div>
</div>

<div style=text-align:center;margin-left:15%;margin-right:15%;color:rgb(59,56,71)>
  <br><br>

  <h2>{{'PRINCIPLE_1'|translate}}</h2>
  {{'PRINCIPLE_1_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_2'|translate}}</h2>
  {{'PRINCIPLE_2_TEXT'|translate}}
  <br><br><br><br>


  <h2>  {{'PRINCIPLE_3'|translate}}</h2>
  {{'PRINCIPLE_3_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_4'|translate}}</h2>
  {{'PRINCIPLE_4_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_5'|translate}}</h2>
  {{'PRINCIPLE_5_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_6'|translate}}</h2>
  {{'PRINCIPLE_6_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_7'|translate}}</h2>
  {{'PRINCIPLE_7_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_8'|translate}}</h2>
  {{'PRINCIPLE_8_TEXT'|translate}}
  <br><br><br><br>

  <h2>  {{'PRINCIPLE_9'|translate}}</h2>
  {{'PRINCIPLE_9_TEXT'|translate}}
  <br><br><br><br>

  <h2>{{'PRINCIPLE_10'|translate}}</h2>
  {{'PRINCIPLE_10_TEXT'|translate}}
  <br><br><br><br>

  <h2>{{'PRINCIPLE_REMARKS'|translate}}</h2>
  {{'PRINCIPLE_REMARKS_TEXT'|translate}}<a href="https://rebellion.earth/who-we-are/#principles">https://rebellion.earth/who-we-are/#principles</a>
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_2'|translate}}
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_3'|translate}}
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_4'|translate}}
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_5'|translate}}
  <br><br>

  {{'PRINCIPLE_REMARKS_TEXT_6'|translate}}
  <br><br>
</div>