/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  margin: 0;
} 
  
h1, h2, h3 {  
  font-family: 'fucxed_capsregular', sans-serif;
}

@font-face {
  font-family: 'fucxed_capsregular';
  src: url('../css/fonts/fucxedcaps-webfont-webfont.woff2') format('woff2'),
        url('../css/fonts/fucxedcaps-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}