<div class=home__skulls>
  <h1 class=home__hero>XR CANADA</h1>
</div>

<div class=home__section>
  <h1 class=home__title>{{'MAIN_TITLE'|translate}}</h1>

  <p class=home__paragraph>
    {{'MAIN_1'|translate}}
    {{'MAIN_2'|translate}}
  </p>
</div>

<div class=home__greenTitle>
  <h1>
    {{'MAIN_3'|translate}}
  </h1>
</div>

<div class=home__boxes>

  <div class=home__boxes__row>
    <div class="home__boxes__box home__boxes__box--text"><h3>{{'BLUE_1'|translate}}</h3></div>
    <div class="home__boxes__box home__boxes__box--img home__boxes__box--greta"></div>
  </div>

  <div class=home__boxes__row>
    <div class="home__boxes__box home__boxes__box--img home__boxes__box--rebel"></div>
    <div class="home__boxes__box home__boxes__box--text"><h3>{{'BLUE_3'|translate}}</h3></div>
  </div>

  <div class=home__boxes__row>
    <div class="home__boxes__box home__boxes__box--text"><h3>{{'BLUE_2'|translate}}</h3></div>
    <div class="home__boxes__box home__boxes__box--img home__boxes__box--bye"></div>
  </div>

</div>


<div class=home__section>
  <br>

  <p class=home__paragraph>
    {{'MAIN_4'|translate}}
  </p>

  <br><br><br>

  <div class=home__actions>
    <a class=home__action (click)=join()>
      {{'JOIN_EMAIL'|translate}}
    </a>
    <a class=home__action href="https://xrblog.org/2018/12/02/extinction-rebellion-worldwide-map/">
      {{'FIND_LOCAL'|translate}}
    </a>
  </div>

</div>
