<div class=crowd style=height:15em>
    <h1 style=text-align:center;padding-top:0.5em;margin-top:0;color:white;font-size:90px>{{'WE_ARE_XR'|translate}}</h1>
  </div>

<div style=margin-right:15%;margin-left:15%;text-align:center;color:rgb(59,56,71)>
    <br><br>
    <h1>{{'WHO_TITLE'|translate}}</h1>
    {{'WHO_0'|translate}}
    <br><br>
    <br><br>

    <h1>{{'ORIGINS'|translate}}</h1>

    {{'ORIGINS_1'|translate}}
    <br><br>
    {{'ORIGINS_2'|translate}}
    <br><br>
    {{'ORIGINS_3'|translate}}
    <br><br>
    {{'ORIGINS_4'|translate}}
    <br><br>
    <!-- {{'ORIGINS_5'|translate}}
    <br><br> -->

<!-- 
    <strong> {{'WHO_1_DATE'|translate}}</strong>{{'WHO_1'|translate}} 
    <br><br>

    <strong>{{'WHO_2_DATE'|translate}}</strong>{{'WHO_2'|translate}} 
    <br><br>

    <strong>{{'WHO_3_DATE'|translate}}</strong>{{'WHO_3'|translate}}
    <br><br>

    <strong>{{'WHO_4_DATE'|translate}}</strong>{{'WHO_4'|translate}} 
    <br><br>

    <strong> {{'WHO_5_DATE'|translate}}</strong>{{'WHO_5'|translate}} 
    <br><br>

    <strong>{{'WHO_6_DATE'|translate}}</strong>{{'WHO_6'|translate}} 
    <br><br>

    <strong>{{'WHO_7_DATE'|translate}}</strong>{{'WHO_7'|translate}}
    <br><br>

    <strong>{{'WHO_8_DATE'|translate}}</strong>{{'WHO_8'|translate}} 
    <br><br>

    <strong>{{'WHO_9_DATE'|translate}}</strong>{{'WHO_9'|translate}} 
    <br><br> -->


    {{'WHO_WEEK'|translate}}
    <br><br><br><br>

    <h1>{{'WHO_BEGINS'|translate}}</h1>
    <strong>{{'WHO_4_DATE'|translate}}</strong> 
    {{'WHO_BEGINS_TEXT'|translate}}
    <br><br>

    {{'WHO_TOOLS'|translate}}
    <br><br><br><br>

    <h1>{{'WHO_XR_INTERNATIONAL'|translate}}</h1>

    {{'WHO_XR_WORLD'|translate}} <a href="https://xrblog.org/2018/12/02/extinction-rebellion-worldwide-map/">https://xrblog.org/2018/12/02/extinction-rebellion-worldwide-map/</a>
    <br><br>

    {{'WHO_SINCE'|translate}}
    <br><br>

    {{'WHO_SITE'|translate}}
    <br><br><br><br>

    <h1>{{'WHO_LOGO_NAME'|translate}}</h1>

    {{'WHO_MOVE'|translate}}
    <br><br>

    <img src="https://extinctionrebellion.fr/assets/img/logo-xr.png">
    <br><br>
    
    {{'WHO_GREEN'|translate}}
  <br><br>
  <br><br>
</div>
